<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Project add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Add project details</h2>


<form class="row g-3 needs-validation" novalidate th:action="@{/properties/add}" th:object="${property}" method="post">

    <div>

        <div>
            <h1>Content</h1>

            <!-- add boostrap table -->
            <!-- for each reservation add row in table -->
            <table class="table">

                <!-- table header -->
                <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Name</th>
                    <!--            <th scope="col">Check-in Date</th>-->
                    <!--            <th scope="col">Check-out Date</th>-->
                    <th scope="col">Facilities</th>
                </tr>
                </thead>

                <!-- table body -->
                <tbody>

                <!-- table row -->
                <tr th:each="property : ${properties}">
                    <!-- table cell -->
                    <td th:text="${property.location}"></td>
                    <td th:text="${property.name}"></td>
                    <td th:text="${property.facilities}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    <div class="col-12">
        <a th:href="@{/properties}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Create project</button>
    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>