<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Reservation add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Add reservation</h2>

<form class="row g-3 needs-validation" novalidate th:action="@{/reservations/add}" th:object="${reservation}" method="post">

    <div>

        <!-- check in -->
        <div class="col-md-4 form-group required">
            <label class="form-label" for="checkIn">Check in</label>
            <input class="form-control" id="checkIn" placeholder="CheckIn" required th:field="*{checkIn}" type="date">
        </div>

        <!-- check out -->
        <div class="col-md-4 form-group required">
            <label class="form-label" for="checkOut">Check out</label>
            <input class="form-control" id="checkOut" placeholder="CheckOut" required th:field="*{checkOut}"
                   type="date">
        </div>

        <!-- room select -->
        <div class="col-md-4 form-group required">
            <label class="form-label" for="room">Room</label>
            <select class="form-select" id="room" required th:field="${rooms}">
                <option selected th:value="null">Select a room</option>
                <option th:each="room : ${rooms}"
                        th:text="|${room.roomType} ${room.roomNumber}|"
                        th:value="${room.id}">
                </option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <a th:href="@{/reservations}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Add reservation</button>
    </div>

</form>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
