<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Reservations</title>
</head>

<body>

<form class="row g-3 needs-validation" novalidate th:action="@{/projects/add}" th:object="${project}" method="post">

    <div>

        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Project name" required th:field="*{name}" type="text">
            <div class="invalid-feedback">
                A project name can't be empty.
            </div>
        </div>

        <div class="col-md-2 form-group required">
            <label for="projectKey" class="form-label">Key</label>
            <input class="form-control" id="projectKey" placeholder="Project key" required th:field="*{projectKey}"
                   type="text">
            <div class="invalid-feedback">
                Use 2 or 3 uppercase letters.
            </div>
        </div>

        <div class="col-md-4 form-group required">
            <label for="projectLead" class="form-label">Project lead</label>
            <select class="form-select" id="projectLead" required th:field="${project.projectLead}">
                <option selected th:value="null">Select a project lead</option>
                <option th:each="user : ${users}"
                        th:text="|${user.firstName} ${user.lastName}|"
                        th:value="${user.id}">
                </option>
            </select>
            <div class="invalid-feedback">
                You need a lead for your project.
            </div>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/projects}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Create project</button>
    </div>

</form>
<div>
    <h1>Content</h1>

    <!-- add boostrap table -->
    <!-- for each reservation add row in table -->
    <table class="table">

        <!-- table header -->
        <thead>
        <tr>
            <th scope="col">Place</th>
            <th scope="col">Property Type</th>
            <th scope="col">Room Type</th>
<!--            <th scope="col">Check-in Date</th>-->
<!--            <th scope="col">Check-out Date</th>-->
            <th scope="col">Facilities</th>
        </tr>
        </thead>

        <!-- table body -->
        <tbody>

        <!-- table row -->
        <tr th:each="reservation : ${reservations}">
            <!-- table cell -->
            <td th:text="${reservation.place}"></td>
            <td th:text="${reservation.propertyType}"></td>
            <td th:text="${reservation.roomType}"></td>
            <td th:text="${reservation.facilities}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
