<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<!-- navbar -->
<div th:fragment="navbar">

    <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand" href="/home">
            <img th:src="@{/images/travel-suitcase-logo.jpg}" style="width:192px; height:192px"/>
        </a>

        <a class="navbar-brand" th:href="@{/}">Home</a>

        <a class="navbar-brand" th:href="@{/properties}">Properties</a>

        <a class="navbar-brand" th:href="@{/reservations/add}">Stays</a>

        <!-- TODO: display these buttons only if not authenticated -->

        <!-- navigation button -->
        <!-- must search in Controller @GetMapping("/login") -->
        <a th:href="@{/login}">
            <!-- gray button -->
            <button class="btn btn-secondary" id="login" name="login" type="button">Log in</button>
        </a>

        <!-- must search in Controller @GetMapping("/register") -->
        <a th:href="@{/register}">
            <button class="btn btn-primary" id="register" name="register" type="submit">Register</button>
        </a>

        <!-- Stays -->
        <!-- TODO: go to /reservations -->

    </nav>

    <div th:replace="fragments/footer-js :: footer-js"/>
</div>

</body>
</html>